<div class="panel panel-info">
<div class="panel-heading">

<b>Blog Title</b>
<a>{{blog.blogTitle}}</a><br><br>
<b>Posted On:</b> {{blog.postedOn | date:'medium'}}<br>
<b>Posted By:</b> {{blog.postedBy.firstname}} &nbsp; {{blog.postedBy.lastname}}<br>
<img src="http://localhost:8081/middleware/getImage/{{blog.postedBy.email}}" alt="profilePic" height="30px" width="30px">

</div>
<div class="panel-body">
<p ng-bind-html="content"></p><br>

<div>
&nbsp; <a><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes(blog.id)"></span></a> &nbsp;{{blog.likes}} like(s)
</div>

	<div>
	{{exceptionMessage.message}}
		<textarea rows="1" cols="10" ng-model="commentTxt"></textarea>
		<button type="button" class="btn btn-primary" ng-click="addComment(blog,commentTxt)">Post Comment</button>
	<br>
	<a ng-click="onShowComments()">{{comments.length}} comments</a><br>
	<ul style="list-style:none" ng-show="showComments">
	<li ng-repeat="comment in comments | orderBy:'-commentedOn'">
	<b> Comment is:</b> {{comment.commentTxt}} &nbsp;
	<b> Commented By:</b>{{comment.commentedBy.firstname}}&nbsp;
	<b> Commented On:</b>{{comment.commentedOn | date:'yyyy/MM/dd'}}
	<hr>
	</li>
	</ul>

	</div>
	
</div>
</div>
