
<div class="container">
<br>
<br>
<br>
Search: <input type="text" ng-model="searchTxt">  
  <div class="row" style="width:200px">
  
    <div ng-repeat="job in jobs| filter:searchTxt| orderBy:'-postedon'">
      <div class="panel panel-info">
        <div class="panel-heading"><a href="#/getJob/{{job.id}}">{{job.jobTitle}}
        </a></div>
        
        <div class="panel-body">
       <b>Posted On :</b>  {{job.postedOn | date:'medium'}}<br>
      <b>Skills Required :</b> {{job.skillsRequired}}
        </div>
      </div>
    </div>
  </div>
</div>